body {
  margin: 10px auto;
  width: 98%;
  /* font-family: "Inconsolata", monospace; */
  /* font-family: "Dosis", sans-serif; */
  font-family: "Poppins", sans-serif;
}
.half-section{
    width: 50%;
}
header>nav {
  display: block;
  float: right;
  /* height: 30px; */
}

header>nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

header nav ul li {
  display: inline;
  font-style: none;
  float: left;
  background-image: linear-gradient(tomato, #9b1f04);
  border-radius: 30px 0 30px 0;
  margin-right: 3px;
  margin-bottom: 30px;
  width: 110px;
font-size: 14px;
}

header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: green;
  border-radius: 30px 0 30px 0;
  /* margin-right: 3px;
  margin-bottom: 30px;
  width: 110px; */
/* font-size: 13px; */
}

header {
  background-image: url(Images/top-left-bg.png);
  background-position: top left;
  background-size: 150px;
  background-repeat: no-repeat;
  height: 400px;
  margin: 0%;
  text-align: center;
  display: flex;
  flex-direction:row;
}

header h3 {
  color: #9b1f04;
  margin: 0%;
  height: 50px;
  font-size: 25px;
}

header h3:hover {
  font-size: 40px;
  color: green;
}

header h3 span {
  color: blueviolet;
  margin: 0%;
}

header h2 {
    color:#9b1f04;
    margin: 0 0 20px 0;
    font-size: 50px;
  }

  header h2:hover{
    color:green;
  }

header h1 {
  color: tomato;
  margin: 0%;
  font-size: 100px;
}

header h1:hover {
  background: linear-gradient(to left, #04f004, blue, gray, green);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header h1 span {
  color: green;
  font-size: 50px;
}

header input{
    width: 80%;
    height: 30px;
    margin:5px;
}

header button{
font-style: none;
    margin: 10px;
    padding: 3px 30px;
    text-decoration: none;
}

header img{
    width: 70%;
    margin-top: 20px;
    float: center;
}

header p{
    writing-mode: vertical-rl;
    font-size: 40px;
    float: right;
    margin-top: 60px;
    width: 60px;
    overflow: hidden;
    background: linear-gradient(to left, #04f004, blue, gray, green);
    -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}